:80 {
    handle_path /api/collection-service/* {
        rewrite * /api/v1{path}
        reverse_proxy collection-service:8081
    }

    handle_path /api/starship-service/* {
        rewrite * /api/v1{path}
        reverse_proxy starship-service:8082
    }

    handle /api/* {
        respond "Unknown API service" 404
    }

    handle {
        reverse_proxy host.docker.internal:3000
    }
}
